/* FONT */
$font-primary: 'Rubik', sans-serif;

/* COLORS */
$color-moderate-blue      : #5457b6;
$color-soft-red           : #ed6468;
$color-light-grayish-blue : #c3c4ef;
$color-pale-red           : #ffb8bb;
$color-dark-blue          : #324152;
$color-grayish-blue       : #67727e;
$color-light-gray         : #eaecf1;
$color-very-light-gray    : #f5f6fa;
$color-white              : #fff;

/* BREAKPOINTS */ 
$bp-large  : 90em;      /*1440px*/
$bp-medium : 56.25em;  /*900px*/
$bp-small  : 23.4375em; /*375px*/

/* SHADOW */

$drop-shadow : 0px 4px 8px rgba(0, 0, 0, .05);