@import "../../assets/scss/variables.scss";

.reply {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: max-content 1fr ;
    margin-bottom: 1rem;
    align-items: flex-start;

    &_score {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
        margin-right: 2rem;

        @media only screen and (max-width: $bp-small) {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
        }
    }

    &_user {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        align-items: center;
        display: flex;
        margin-bottom: 1rem;

        @media only screen and (max-width: $bp-small) {
            grid-row: 1 / 2;
            grid-column: 1 / -1;
        }
    }

    &_created_at {
        color: $color-grayish-blue;
        font-size: 1.2rem;
        margin-right: auto;
    }

    &_actions {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        display: flex;
        gap: 1rem;
        align-self: center;

        @media only screen and (max-width: $bp-small) {
            grid-row: 3 / 4;
            grid-column: 3 / 4;
        }
    }

    &_content {
        grid-row: 2 / 3;
        grid-column: 2 / -1;
        
        p {
            color: $color-grayish-blue;
        }
        
        @media only screen and (max-width: $bp-small) {
            grid-row: 2 / 3;
            grid-column: 1 / -1;
            margin-bottom: 2rem;
        }
    }
}


.reply_container {
    margin-bottom: 2rem;
}