@import "../../assets/scss/variables.scss";

.action {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    gap: .5rem;
    outline: none;

    &.active {
        opacity: .6;
    }

    img {
        height: 1rem;
        width: auto;
    }

    &.primary {
        color: $color-moderate-blue;
    }

    &.danger {
        color: $color-soft-red;
    }
}