@import "../../assets/scss/variables.scss";

.add_comment {
    align-items: flex-start;
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;

    form {
        align-items: flex-start;
        display: flex;
        flex: 1;
        gap: 2rem;

        textarea {
            width: 100%;
        }
    }
}